@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #1C2826;
    font-family: 'Nunito', sans-serif;
}

.calculator {
    background-color: #FFF9FB;
    width: 375px;
    height: 550px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 1rem 1rem 0;
}

.screen {
    height: 130px;
    position: relative;
    direction: rtl;
}

#result {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0 1rem;
}

#stage {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.5;
    margin-top: 10px;
    margin-right: 10px;
}

.buttons {
    display: grid;
    margin: 30px auto 0;
    height: 340px;
}

.grid_button {
    height: 60px;
    width: 60px; 
    background-color: #D3D4D9;
    color: #1C2826;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}